<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="gazebo_ros2_control" params="
    plugin_name 
    initial_positions_file
    ">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>
        <xacro:property name = "robot_parameters_file" value="$(find robot_description)/config/crx10ia_l.yaml"/>
        <xacro:property name="robot_parameters" value="${xacro.load_yaml(robot_parameters_file)}"/>

        <ros2_control name="crx10ia_l" type="system">
            <hardware>
                <plugin>${plugin_name}</plugin>
            </hardware>

            <joint name="J1">
                <command_interface name="position">
                  <param name="min">${robot_parameters['j1_limit_min']}</param>
                  <param name="max">${robot_parameters['j1_limit_max']}</param>
                </command_interface>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['J1']}</param>
                </state_interface>
                <state_interface name="velocity">
                  <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="J2">
                <command_interface name="position">
                  <param name="min">${robot_parameters['j2_limit_min']}</param>
                  <param name="max">${robot_parameters['j2_limit_max']}</param>
                </command_interface>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['J2']}</param>
                </state_interface>
                <state_interface name="velocity">
                  <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="J3">
                <command_interface name="position">
                  <param name="min">${robot_parameters['j3_limit_min']}</param>
                  <param name="max">${robot_parameters['j3_limit_max']}</param>                
                </command_interface>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['J3']}</param>
                </state_interface>
                <state_interface name="velocity">
                  <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="J4">
                <command_interface name="position">
                  <param name="min">${robot_parameters['j4_limit_min']}</param>
                  <param name="max">${robot_parameters['j4_limit_max']}</param>
                </command_interface>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['J4']}</param>
                </state_interface>
                <state_interface name="velocity">
                  <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="J5">
                <command_interface name="position">
                  <param name="min">${robot_parameters['j5_limit_min']}</param>
                  <param name="max">${robot_parameters['j5_limit_max']}</param>  
                </command_interface>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['J5']}</param>
                </state_interface>
                <state_interface name="velocity">
                  <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="J6">
                <command_interface name="position">
                  <param name="min">${robot_parameters['j6_limit_min']}</param>
                  <param name="max">${robot_parameters['j6_limit_max']}</param>                
                </command_interface>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['J6']}</param>
                </state_interface>
                <state_interface name="velocity">
                  <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
        </ros2_control>
        
        <gazebo reference="world" />
        <gazebo>
          <plugin filename="libign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
            <parameters>$(find robot_moveit_config)/config/controllers.yaml</parameters>
          </plugin>
        </gazebo>
    </xacro:macro>
</robot>