<?xml version="1.0"?>
<robot name="crx10ial" xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- Arguments -->
  <xacro:arg name="moveit_only" default="false"/>

  <!-- Utils -->
  <xacro:include filename="$(find robot_description)/urdf/utils.xacro" />

  <!-- Robot model-->
  <xacro:include filename="$(find robot_description)/urdf/robot.urdf.xacro"/>
  <link name="world" />
  <xacro:crx_robot parent="world"/>
  
  <!-- Simulation interface -->
  <xacro:include filename="$(find robot_description)/urdf/simulation_interface.xacro"/>
  <xacro:ros2_control initial_positions_file="$(find robot_moveit_config)/config/initial_positions.yaml" moveit_only="$(arg moveit_only)"/>

  <!-- Add soft gripper to end of arm -->
  <xacro:include filename="$(find softgripper_description)/urdf/softgripper.urdf.xacro"/>
</robot>
